.reset-password-container {
    flex-wrap: wrap;
    height: 100%;
    align-items: stretch;
}
.left {
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    min-width: 50%;
    min-height: 100%;
    max-height: 100%;
    position: relative;
}
.group {
    min-width: 50px;
    min-height: 50px;
    margin: 0 0 32px;
    align-items: stretch;
    position: relative;
}
.form {
    min-height: min-content;
    margin: 50px;
    max-width: 500px;
    flex-shrink: 0;
    align-items: stretch;
    position: relative;
}
.h3 {
    color: hsla(var(--igc-gray-900));
    height: max-content;
    min-width: min-content;
    margin: 0 0 16px;
}
.right {
    background-color: transparent;
    background-image: url("https://images.unsplash.com/photo-1536431311719-398b6704d4cc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80");
    width: 50%;
    min-width: 50%;
    min-height: 100%;
    max-height: 100%;
    align-items: stretch;
    position: relative;
}
.text {
    height: max-content;
    min-width: min-content;
    margin: 0 0 16px;
}
.input {
    margin: 0 0 24px;
    height: max-content;
    min-width: min-content;
}
.button {
    height: max-content;
    min-width: min-content;
}
.button::part(base) {
    background-color: hsla(var(--igc-secondary-500));
}
.row-layout {
    display: flex;
}
.column-layout {
    display: flex;
    flex-direction: column;
}
