@page "/reset-password"
@inject NavigationManager NavigationManager

<div class="reset-password-container row-layout">
    <div class="left column-layout">
        <div class="form column-layout">
            <div class="group column-layout">
                <h3 class="h3">
                    Reset password
                </h3>
                <p class="typography__body-2 text">
                    Please, type the email you have used for your your account registration. We are going to send you an activation link there where you can reset your password.
                </p>
            </div>
            <IgbInput Label="Email" Placeholder="Min 8 characters" Outlined="true" class="input" reset-password-scope></IgbInput>
            <IgbButton @onclick="@(e => Navigate("/set-new-password"))" class="button" reset-password-scope>
                send reset link
                <IgbRipple></IgbRipple>
            </IgbButton>
        </div>
    </div>
    <div class="right column-layout"></div>
</div>

@code {
    private void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}
