.home-container {
    align-items: stretch;
    height: 100%;
}
.group {
    height: 8%;
    justify-content: center;
    padding: 20px;
    min-width: 50px;
    min-height: 50px;
    background-color: hsla(var(--igc-gray-100));
    border-color: hsla(var(--igc-gray-200));
    border-width: 0px 0px 1px;
    border-style: solid;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
}
.image {
    height: 35px;
    width: 130px;
    min-width: 0;
    min-height: 0;
    margin: 0 32px;
    object-fit: scale-down;
    flex-shrink: 0;
}
.view-container {
    height: 92%;
    width: 100%;
    position: relative;
}
.group_1 {
    width: min-content;
    align-items: center;
    position: relative;
}
.row-layout {
    display: flex;
}
.column-layout {
    display: flex;
    flex-direction: column;
}
