@inherits LayoutComponentBase

<div class="home-container column-layout">
    <div class="group row-layout">
        <div class="group_1 row-layout">
            <img src="https://i.ibb.co/syrwz7h/travel-app.png" class="image" />
        </div>
    </div>
    <div class="view-container">
        @Body
    </div>
</div>

@code {
}
