@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="in-app-container column-layout">
    <div class="group row-layout">
        <div class="group_2 row-layout">
            <IgbButton Variant="ButtonVariant.Flat" @onclick="@(e => NavDrawer?.Toggle())" class="button" in-app-scope>
                <span class="material-icons">
                    menu
                </span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <img src="https://i.ibb.co/syrwz7h/travel-app.png" @onclick="@(e => Navigate("/"))" class="image" />
        </div>
        <div class="group_1 row-layout">
            <IgbButton Variant="ButtonVariant.Flat" class="button_1" in-app-scope>
                <span class="material-icons">
                    notifications
                </span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbAvatar Src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&crop=faces&w=240&h=240&q=80" Shape="AvatarShape.Circle"></IgbAvatar>
        </div>
    </div>
    <IgbNavDrawer @ref="NavDrawer" class="nav-drawer" in-app-scope>
        <IgbNavDrawerItem @onclick="@(e => Navigate("/in-app"))" class="nav-drawer-item" in-app-scope>
            <span slot="icon">
                <span class="material-icons icon">
                    dashboard
                </span>
            </span>
            <div slot="content">Dashboard</div>
        </IgbNavDrawerItem>
        <IgbNavDrawerItem class="nav-drawer-item" in-app-scope>
            <span slot="icon">
                <span class="material-icons icon">
                    image_search
                </span>
            </span>
            <div slot="content">Discover</div>
        </IgbNavDrawerItem>
        <IgbNavDrawerItem class="nav-drawer-item" in-app-scope>
            <span slot="icon">
                <span class="material-icons icon">
                    playlist_add_check
                </span>
            </span>
            <div slot="content">Travel lists</div>
        </IgbNavDrawerItem>
        <IgbNavDrawerItem @onclick="@(e => Navigate("/in-app/articles"))" class="nav-drawer-item" in-app-scope>
            <span slot="icon">
                <span class="material-icons icon">
                    chrome_reader_mode
                </span>
            </span>
            <div slot="content">Articles</div>
        </IgbNavDrawerItem>
        <IgbNavDrawerItem class="nav-drawer-item" in-app-scope>
            <span slot="icon">
                <span class="material-icons icon">
                    question_answer
                </span>
            </span>
            <div slot="content">FAQ</div>
        </IgbNavDrawerItem>
        <IgbNavDrawerItem class="nav-drawer-item" in-app-scope>
            <span slot="icon">
                <span class="material-icons icon">
                    settings
                </span>
            </span>
            <div slot="content">Settings</div>
        </IgbNavDrawerItem>
    </IgbNavDrawer>
    <div class="view-container">
        @Body
    </div>
</div>

@code {
    private IgbNavDrawer? NavDrawer;
    private void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}
